@{
    ViewData["Title"] = "Home Page";
}

@*model List<TaskResponse>*@


<!--Insert at sign before x.Task-->

<!--Quadrant Layout Screen on the Home Screen-->
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Edit" asp-route-movieEntryID="x.Task">Edit</a>
</div>-->
